/* Sintax */

body {
    font-size: 11px;
}

/* Cabecera  */

banner {
    display: flex;
    width: 100%;
    height: 120px;
    background-image: url("resources/src/s69-20638orig.jpg");
    background-size: 800px;
    background-position: center;
}

/* Beta */

/* Navegador para materias */
nav {
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    margin-top: 10px;
    padding-top: 2px;
}

.sub-nav a {
    margin-left: 2px;
    cursor: pointer;
}

.explore {
    margin: 0px 10px;
}

footer {
    display: flex;
    justify-content: right;
}

summary {
    user-select: none;
}

math {
    border: 1px solid;
}

.system {

    border-right: 1px solid;
}

.exs {
    margin-left: 20px;
    margin-right: 20px;
}

.frase {
    display: flex;
    justify-content: left;
}


pre code {
    opacity: 70%;
}

.circle {
    user-select: none;
    margin-left: 5px;
    font-weight: bold;
    padding: 0px 5.5px;
    background-color: #ff0000;
    opacity: 70%;
    border-radius: 100%;
    color: white;
}

ol,
li {
    margin: 0 10px;
    padding: 0;
}

.left p {
    text-align: left;
}

cite {
    border-left: 1px solid #0076d1;
    padding-left: 5px;
    color: #0076d1;
    font-style: normal;
}

.anunc {
    display: flex;
    text-align: left;
    justify-content: center;
}

/* math */