body {
    font-family: "Tinos", serif;
}

nav {
    font-size: 7px;
    display: flex;
    justify-content: right;
}

nav span {
    font-size: 5px;
    margin: 0px 2px;
    opacity: 40%;
}

nav a {
    color: #313131;
    opacity: 40%;
    text-decoration: none;
}

nav u {
    color: #313131;
    opacity: 60%;
    text-decoration: none;
}

.alert u {
    opacity: 60%;
    text-decoration: none;
    font-size: 6px;
}

.alert {
    display: flex;
    justify-content: center;
}

.content {
    font-size: 7px;
}

ul li {
    margin-left: -30px;
}

li a {
    color: #796fdb;
    text-decoration: none;
}