<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emm-niv</title>
    <link rel="icon" href="resources/build/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../index.css">
    <!--Google fonts conection-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--RALEWAY font-->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!--WATER.CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <!--Math extension-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        window.MathJax = {
            tex: {
                displayMath: [['$$', '$$'], ['\\[', '\\]']]
            },
            options: {
                renderActions: {
                    addMenu: [0, '', '']
                }
            },
            chtml: {
                displayAlign: 'left'  // Aligns displayed equations to the left
            }
        };
    </script>
</head>

<body>
    <banner></banner>
    <nav>
        <span class="title-nav"><b>Matemáticas</b>
        </span>
        <span class="sub-nav">
            <a href="">Inicio</a>
        </span>
    </nav>
    <hr>

    <u>Ecuaciones</u><span class="circle">!</span><br>
    El siguiente fragmento, se divide en secciones categorizadas en diferentes grados; donde dependiendo del grado en
    cuestión, existe un procedimiento el cual seguir.
    <details>
        <summary>Ecuaciones primer grado.</summary>
        <div class="explore"><a href="">Ejercicios</a>
            <hr>
            Para resolver: <br>
            <ol type="1">
                <li>Eliminamos denominadores calculando el mínimo común múltiplo.</li>
                <li>Calculamos cuánto le falta a cada denominador para llegar a su mínimo como múltiplo.</li>
                <li>Eliminamos los denominadores.</li>
                <li>Agrupamos términos x en un lado de la igualdad.</li>
                <li>Resolvemos.</li>
            </ol>
            <ul>
                <li>Ejemplo:</li>
                <ol>
                    <li>\[\frac{2x-5}{3}+
                        \frac{3x-6}{4} =
                        \frac{4x-8}{12}\]</li>
                    <cite>mínimo común múltiplo: 12</cite>
                    <li>\[4(2x-5) + 3(3x-6) = 1(4x-8)\]</li>
                    <li>\[10x - 20 +9x - 18 = 4x - 8\]</li>
                    <cite>Determinamos la igualdad, pasando a un lado nuestras incógnitas, y a un lado nuestros valores
                        numéricos.</cite>
                    <li>\[ 10x + 9x - 4x = -~8 + 20 + 18\]</li>
                    <li>\[15x = 30\]</li>
                    <li>\[ x = \normalsize\frac{30}{15}\scriptsize => x = 2\]</li>
                    <cite>El valor de x = 2</cite>
                </ol>
            </ul>
        </div>
    </details>
    <details>
        <summary>Ecuaciones segundo grado.</summary>
        <div class="explore">
            <a href="" target="_parent">Ejercicios</a>
            <a href="" target="_parent">Video</a>
            <hr>
            Una ecuación de segundo grado tiene dos soluciones, y tiene la forma <i>ax² + bx + c = 0</i>
            <p>Para resolver:</p>
            <ol type="1">
                <li>Se designa los tipos de soluciones que obtendremos, donde discriminante se determina como:</li>
                <ol type="a">
                    <li>b² - 4ac > 0 | Dos soluciones distintas.</li>
                    <li>b² - 4ac = 0 | Dos soluciones iguales.</li>
                    <li>b² - 4ac < 0 | No soluciones.</li>
                </ol>
                <li>Determinamos nuestras soluciones utilizando fórmula <b>Bhaskara</b>:</li>
                <u>Fórmula Bhaskara</u>
                \[{x =}\frac{-b~\pm~\sqrt{b^2 - 4ac}}{2a}\]
            </ol>
            <ul>
                <li>Ejemplo:</li>
                <ol>
                    <li>\[3x^2 - 6x + 3 = 0\]</li>
                    <cite>Aplicamos discriminante</cite>
                    <li>\[(-6)^2 - 4\times3\times3 => 36 - 36 = 0\]</li>
                    <cite>Discriminante = 0, por lo tanto habrán dos soluciones iguales.</cite>
                    <li>\[\frac{6 \pm \sqrt{36 - 36}}{6}= x\]</li>
                    <cite>x1 = 1</cite> <br>
                    <cite>x2 = 1</cite>
                </ol>
            </ul>
        </div>
    </details>
    <details>
        <summary>Ecuaciones racionales</summary>
        <div class="explore">
            <a href="../../resources/books/math/ejercicios-004.html" target="_parent">Ejercicios</a>
            <a href="" target="_parent">Video</a>
            <hr>
            Son aquellas las que la incógnita aparece en fracciones algebraicas; buscando la igualación de denominadores
            para tener una ecuación básica. <br>
            <p> Para resolver:</p>
            <ol type="1">
                <li>Eliminamos los denominadores calculando y multiplicando por el <b>mínimo común múltiplo.</b></li>
                <li>Comprobación de solución. Donde nunca será solución aquellos valores que anulen el denominador.</li>
            </ol>
            <ul>
                <li>Ejemplo:</li>
                <ol>
                    <li>\[\frac{2}{x+2}-\frac{1}{x-3} = \frac{3}{x^2-x+6}\]</li>
                    <cite> Resolvemos cuadráticas vistas</cite>
                    <li>\[x^2 -x+ 6 = (x-3)(x+2)\]</li>
                    <cite>Despejamos soluciones que no son posibles</cite>
                    <ol type="a">
                        <li>\[x - 3 \therefore x = 3\]</li>
                        <li>\[x + 2 \therefore x = -2\]</li>
                    </ol>
                    <cite>Minimo común múltiplo: (x-3)(x+2)</cite>
                    <li>\[\frac{2(x-3)}{x+2}-\frac{1(x+2)}{x-3} = \frac{3}{x^2-x+6}\]</li>
                    <li>\[\frac{2x -6 -x - 2}{(x+2)(x-3)}= \frac{3}{(x+2)(x-3)}\]</li>
                    <cite>Al igualar denominadores, podemos ignorarlos.</cite>
                    <li>\[x - 8 = 3 \therefore x = 3 + 8 \therefore x = 11\]</li>
                    <cite>Valor de x = 11</cite>
                </ol>
            </ul>
        </div>
        <!-- Function a -->
    </details>
    <details>
        <summary>Ecuaciones irracionales</summary>
        <div class="explore">
            <a href="../../resources/books/math/ejercicios-005.html" target="_parent">Ejercicios</a>
            <a href="" target="_parent">Video</a>
            <hr>
            Son aquellas donde la incógnita aparece bajo signos radicales. <br>
            <p> Para resolver:</p>
            <ol type="1">
                <li>Aislamos una de las raíces.</li>
                <li>Elevamos ambos lados de la ecuación a orden del índice de nuestra raíz.</li>
                <li>Hay que comprobar si las soluciones son correctas.</li>
            </ol>
            <ul>
                <li>Ejemplo:</li>
                <ol>
                    <li>\[\sqrt{2x-1} + \sqrt{x+4} = 6\]</li>
                    <cite>Aislamos una de las raíces.</cite>
                    <li>\[\sqrt{2x-1} = 6 - \sqrt{x+4}\]</li>
                    <cite>Elevamos ambos lados de la ecuación al índice: 2</cite>
                    <li>\[(\sqrt{2x-1})^2 = (6-\sqrt{x+4})^2 \therefore 2x-1 = 36 + (x+4) - 12\sqrt{x+4}\]</li>
                    <cite>Aislamos la raíz que tenemos nuevamente.</cite>
                    <li>\[12\sqrt{x+4} = 36 + (x+4) - (2x-1) \therefore 12\sqrt{x+4} = 41 - x\]</li>
                    <cite>Elevamos ambos lados de la ecuación al índice: 2</cite>
                    <li>\[(12\sqrt{x+4})^2 = (41-x)^2 \therefore 144(x+4) = 1681 + x ^2 -82x\therefore 144x + 576 =
                        x^2-82x +1681 \]</li>
                    <cite>Resolvemos la ecuación de segundo grado.</cite>
                    <li>\[x^2 - 226x + 1105 = 0 \therefore x^2 - 226x + 1105 = (x-5) (x - 221)\]</li>
                    <ol type="a">
                        <li>\[x-5 \therefore x = 3\]</li>
                        <li>\[x - 221 \therefore x = 221\]</li>
                    </ol>
                    <cite>Comprobamos ambas soluciones, buscando así la correcta.</cite>
                    <li>\[x1 = 5 => \sqrt{2\times5-1} + \sqrt{5+4} = 6 \therefore \sqrt{9} + \sqrt{9} = 6
                        \therefore 3 + 3 = 6\]</li>
                    <li>\[x2 = 221 => \sqrt{2\times221-1} + \sqrt{221+4} = 6 \therefore \sqrt{441} +
                        \sqrt{225} = 6 \therefore 21 + 15 = 6\]</li>
                    <cite>Solución x1 = correcta</cite> <br>
                    <cite>Solución x2 = incorrecta</cite>
                </ol>
            </ul>

        </div>
    </details>
    <details>
        <summary>Ecuaciones exponenciales</summary>
        <div class="explore">
            <a href="resources/books/math/ejercicios-005.html" target="_parent">Ejercicios</a>
            <hr>
            Por favor, complete los ejercicios que se detallan a continuación. Serán evaluados y discutidos durante
            la próxima sesión de clase.
        </div>
    </details>
    <details>
        <summary>Ecuaciones logarítmicas</summary>
        <div class="explore">
            <a href="resources/books/math/ejercicios-005.html" target="_parent">Ejercicios</a>
            <hr>
            Por favor, complete los ejercicios que se detallan a continuación. Serán evaluados y discutidos durante
            la próxima sesión de clase.
        </div>
    </details>
    <footer>&copy; <i>F. Ahumada</i>~v001</footer>
</body>

</html>