<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emm-niv</title>
    <link rel="icon" href="../../resources/build/icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../styles/phy.css">
    <!--Google fonts conection-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--RALEWAY font-->
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <!--WATER.CSS-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/light.css">
    <!--Math extension-->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <script>
        window.MathJax = {
            tex: {
                displayMath: [['$$', '$$'], ['\\[', '\\]']]
            },
            options: {
                renderActions: {
                    addMenu: [0, '', '']
                }
            },
            chtml: {
                displayAlign: 'left'  // Aligns displayed equations to the left
            }
        };
    </script>
</head>

<body>
    <banner></banner>
    <nav>
        <span class="title-nav"><a href="phy.html">Física</a>
        </span>
        <span class="sub-nav">
            <a href="../../index.html">Matemáticas</a>
            <a href="components/pages/prog.html">Programación</a>
        </span>
    </nav>
    <hr>
    <u>Dinámica</u><br>
    El siguiente fragmento, se divide en la explicación de las leyes de Newton.
    <details>
        <summary>Primera ley de Newton - Inercia</summary>
        <div class="explore">
            <a href="resources/books/math/ejercicios-002.html" target="_parent">Ejercicios</a>
            <a href="resources/books/math/Aprendizaje-ecuaciones.pdf" target="_parent">Recurso</a>
            <a href="resources/sources/math/video-002.html" target="_parent">Video</a>
            <hr>
        </div>
    </details>
    <details>
        <summary>Segunda ley de Newton - F = ma</summary>
        <div class="explore">
            <a href="resources/books/math/ejercicios-002.html" target="_parent">Ejercicios</a>
            <a href="resources/books/math/Aprendizaje-ecuaciones.pdf" target="_parent">Recurso</a>
            <a href="resources/sources/math/video-002.html" target="_parent">Video</a>
            <hr>
        </div>
    </details>
    <details>
        <summary>Tercera ley de Newton - Acción y reacción</summary>
        <div class="explore">
            <a href="resources/books/math/ejercicios-002.html" target="_parent">Ejercicios</a>
            <a href="resources/books/math/Aprendizaje-ecuaciones.pdf" target="_parent">Recurso</a>
            <a href="resources/sources/math/video-002.html" target="_parent">Video</a>
            <hr>
        </div>
    </details>
    <u>Dinámica aplicada</u><span class="circle">!</span><br>
    El siguiente contenido busca aplicar de forma correcta las leyes de Newton a momentos prácticos.
    <details>
        <summary>Plano horizontal</summary>
        <div class="explore">
            <a href="resources/books/math/ejercicios-002.html" target="_parent">Ejercicios</a>
            <a href="resources/books/math/Aprendizaje-ecuaciones.pdf" target="_parent">Recurso</a>
            <a href="resources/sources/math/video-002.html" target="_parent">Video</a>
            <hr>

        </div>
    </details>
    <details open>
        <summary>Sistema en equilibrio</summary>
        <div class="explore">
            <a href="resources/books/math/ejercicios-002.html" target="_parent">Ejercicios</a>
            <a href="resources/books/math/Aprendizaje-ecuaciones.pdf" target="_parent">Recurso</a>
            <a href="resources/sources/math/video-002.html" target="_parent">Video</a>
            <hr>
            Para determinar que un sistema está en equilibrio, es importante cumplir dos condiciones.
            \[\sum Fx = 0\]
            \[\sum Fy = 0\]
        </div>
    </details>
    <details>
        <summary>Plano inclinado</summary>
        <div class="explore">
            <a href="resources/books/math/ejercicios-002.html" target="_parent">Ejercicios</a>
            <a href="resources/books/math/Aprendizaje-ecuaciones.pdf" target="_parent">Recurso</a>
            <a href="resources/sources/math/video-002.html" target="_parent">Video</a>
            <hr>
        </div>
    </details>
    <details>
        <summary>Sistema con poleas</summary>
        <div class="explore">
            <a href="resources/books/math/ejercicios-002.html" target="_parent">Ejercicios</a>
            <a href="resources/books/math/Aprendizaje-ecuaciones.pdf" target="_parent">Recurso</a>
            <a href="resources/sources/math/video-002.html" target="_parent">Video</a>
            <hr>
        </div>
    </details>
    <footer>&copy; <i>F. Ahumada</i>~v002</footer>
</body>

</html>